<html>
    <head>
      <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css" type="text/css" />
      <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
      <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-0.12.6.min.js"></script>
      {{ script | safe }}
    </head>
    <body>
      <div>
      </div>
      <div class=page>
        <h1>Header text</h1>
        {{ div | safe }}
      </div>
    </body>
  </html>